asn1crypto==0.24.0
bcrypt==3.1.4
boto==2.48.0
boto3==1.5.23
botocore==1.8.37
bz2file==0.98
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
cryptography==2.1.4
Django==1.11.28
docutils==0.14
Fabric3==1.13.1.post1
gensim==3.3.0
gunicorn==19.7.1
idna==2.6
jmespath==0.9.3
kem==3.8
ngram==3.3.2
numpy==1.14.0
paramiko==2.4.0
pyasn1==0.4.2
pycparser==2.18
PyNaCl==1.2.1
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
s3transfer==0.1.12
scipy==1.0.0
selenium==3.9.0
simplejson==3.13.2
six==1.11.0
smart-open==1.5.6
urllib3==1.22
